:root{
    --azul: rgb(38,173,228);
}
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.botoes{
    display: flex;
    margin-top: 50px;
    margin-right: 5%;
}
.botoes a{
    margin-right: 30px;
  width: 140px;
  height: 45px;
  border: cyan solid 1px;
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--azul);
}
.botoes a p{ 
    font-family: 'Prompt', sans-serif;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.botoes a:hover{
    background-color:rgb(66, 192, 242) ;
    transition: 0.5s;

}
.Conteudo{
    margin-top: 200px;
}
.data{
    width: 100%;
    height: 90px;
    background-color: rgb(0, 200, 255);
  text-align: center;
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 30px;
}
.dataDia{
color: aliceblue;
font-family: 'Prompt', sans-serif;
font-size: 25px;
text-align: center;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    background-color: var(--azul);
    margin: auto;
}
.box-text{
     border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    border: black solid 2px;
    width:280px;
    background-color: white;
    height: 200px;
margin-top: 58px;
flex-direction: column;
display: flex;

}
.Carrosel{
  z-index: -100px;
    margin-top: 30px;
    background-color: var(--azul);
}
.box-text h2{

    margin-top: 10px;
    text-align: center;
}
@media (max-width:1285px){
    .box-text{
        width: 100%;
        height: 200px;
    }
}
@media (max-width:840px){
    header{
        flex-direction: column;
        text-align: center;
        height: 200px;
    }
    .botoes{
        margin: auto;
    }
    header img{
        margin: -30px;
    }
}
@media (max-width:560px){

    .box-text{
 width: 80%;
 margin: auto;
 margin-top: 58px;
    }
}
@media (max-width:520px){
    .botoes .botaomaio{
display: none;
    }
    .botoes a{
        margin: auto;
    }
}
